<!DOCTYPE html>
<html>
<head>
<%- include('../../partials/head'); %>
</head>
<body>
<header>
  <%- include('../../partials/header'); %>
</header>

<div class="slider" id="About">
    <div class="owl-carousel owl-theme Slider_Main_Banner">

        

        <div class="item">
            <a href="https://taxmanager.in/tm360/">
                <img src="/images/taxmanager.jpg"
                     alt="360 digital marketing">
            </a>
        </div>
        <div class="item">
            <a href="https://credmanager.co/">
                <img src="/images/credmanager.jpg"
                     alt="360 digital marketing">
            </a>
        </div>
        <div class="item">
            <a href="https://investmanager.in/">
                <img src="/images/investmanager.jpg"
                     alt="360 digital marketing">
            </a>
        </div>
        <div class="item">
            <a href="https://cfoserve.in/">
                <img src="/images/cfoserve.jpg"
                     alt="360 digital marketing">
            </a>
        </div>
        <div class="item">
            <a href="https://www.riseit360.com/">
                <img src="/images/ristit360.jpg"
                     alt="360 digital marketing">
            </a>
        </div>
        <div class="item">
            <a href="https://taxmanager.in/tm360/startup/">
                <img src="/images/startupmanager.jpg"
                     alt="360 digital marketing">
            </a>
        </div>
    </div>
    <!-- Scroll -->
    <div class="box-sliderbtn">
        <span></span>
        <span></span>  
        <span></span>
    </div>

</div>

<!-- Services -->
<div class="services" id="Services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3><a href="/Services/Virtual/CFO"><span><h1>Services</h1></span></a></h3>
            </div>
        </div>
    </div>
    <div class="container serrevert">
        <div class="row">
            <div class="col-md-5">
                <div class="imgboxsec">
                    <img src="/images/accounting-compliance-management.png"
                         alt="Accounting and Compliance Management">
                </div>
            </div>
            <div class="col-md-7">
                <h4 class="titlesecare"><b>Virtual CFO</b> - <br>Accounting and Compliance Management</h4>
                <div class="textarea">
                    <ul>
                        <li><a href="https://taxmanager.in/tm360/business/compliancemgmt"><span>-</span> Income Tax Compliances</a></li>
                        <li><a href="https://taxmanager.in/tm360/business/compliancemgmt#Services"><span>-</span> ROC Compliances</a></li>
                        <li><a href="https://taxmanager.in/tm360/business/gst-services"><span>-</span> GST Compliances</a></li>
                        <li><a href="https://taxmanager.in/tm360/business/accounting-management"><span>-</span> Accounting and Bookkeeping</a></li>
                    </ul>
                </div>
                <div class="btnsecare">
                    <a href="/Services/Virtual/CFO">view more</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <h4 class="titlesecare righttextare"><b>Virtual CHRO</b> - <br>Human Resources Solutions</h4>
                <div class="textarea">
                    <ul>
                        <li><a href="https://taxmanager.in/tm360/add-ons/greytHR"><span>-</span> Talent Acquisition</a></li>
                        <li><a href="https://taxmanager.in/tm360/add-ons/greytHR"><span>-</span> People Management</a></li>
                        <li><a href="https://taxmanager.in/tm360/add-ons/greytHR"><span>-</span> HR Compliances</a></li>
                        <li><a href="https://taxmanager.in/tm360/add-ons/greytHR"><span>-</span> Administrative Services</a></li>
                    </ul>
                </div>
                <div class="btnsecare">
                    <a href="/Services/Virtual/CHRO">view more</a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="imgboxsec">
                    <img src="/images/hr-solutions.png" alt="HR Solutions">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="imgboxsec">
                    <img src="/images/it-services.png" alt="IT Services">
                </div>
            </div>
            <div class="col-md-7">
                <h4 class="titlesecare"><b>Virtual CTO</b> - <br>IT Services and Enabled Services</h4>
                <div class="textarea">
                    <ul>
                        <li>
                            <a href="https://riseit360.com/ItServices/website_designing_and_development">
                                <span>-</span>
                                Web Designing and Development
                            </a>
                        </li>
                        <li>
                            <a href="https://riseit360.com/ItServices/app_development_and_deployment">
                                <span>-</span>
                                App Development
                            </a>
                        </li>
                        <li>
                            <a href="https://riseit360.com/ItServices/crm_and_erp_development">
                                <span>-</span>
                                E Commerce Development
                            </a>
                        </li>
                        <li>
                            <a href="https://riseit360.com/ItServices/customized_software_application_development">
                                <span>-</span>
                                Customised Software Development
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="btnsecare">
                    <a href="/Services/Virtual/CTO">view more</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <h4 class="titlesecare righttextare"><b>Virtual CMO</b> - <br>Digital Marketing Solutions</h4>
                <div class="textarea">
                    <ul>
                        <li>
                            <a href="https://riseit360.com/DigiMarket/social_media_marketing">
                                <span>-</span>
                                Social Media Management
                            </a>
                        </li>
                        <li>
                            <a href="https://riseit360.com/DigiMarket/search_engine_optimization">
                                <span>-</span>
                                Search Engine Optimization
                            </a>
                        </li>
                        <li>
                            <a href="https://riseit360.com/DigiMarket/paid_ads">
                                <span>-</span>
                                Performance Marketing
                            </a>
                        </li>
                        <li>
                            <a href="https://riseit360.com/DigiMarket/content_management">
                                <span>-</span>
                                Content Management
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="btnsecare">
                    <a href="/Services/Virtual/CMO">view more</a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="imgboxsec">
                    <img src="/images/digital-marketing.png" alt="Digital Marketing">
                </div>
            </div>
        </div>
    </div>
</div>


  <%- include('../../partials/footer'); %>

</body>
</html>
